body {
  font-family: Inter;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #523e1d;
}

.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  line-height: 1.8;
}

h2 {
  color: #166940;
  margin-top: 2rem;
}

p {
  margin-bottom: 1.2rem;
}

.logo-two {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  position: absolute;
  top: 0;
  left: 10%;
  transform: translateY(100%);
  display: block;
}

.logo-two img {
  max-width: 600px;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .fancy-logo {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 348px) {
.main-background > img{
    object-fit: cover;
    height: auto;
}
.logo-two img   {
display: none;
    }
    .container > p {
     font-size: small;
    }
  }


@media screen and (min-width: 349px) and (max-width: 448px) {
.main-background > img{
    object-fit: cover;
    height: auto;
  }
  .logo-two img   {
display: none;
    }

    .container > p {
     font-size: smaller;
    }
}

@media screen and (min-width: 448px) and (max-width: 578px) {
.main-background > img{
    object-fit: cover;
    height: auto;
} 
.logo-two img   {
display: none;
    }
    .container > p {
     font-size: smaller;
    }
    .container > p {
     font-size: small;
    }
}

@media screen and (min-width: 579px) and (max-width: 774px) {
.main-background > img{
    object-fit: cover;
    height: auto;
}
.logo-two img   {
width: 50%;
max-width: 100%;
height: auto;
padding-left: 5rem;
    }
}
@media screen and (min-width: 775px) and (max-width: 837px) {
.main-background > img{
    object-fit: cover;
    height: auto;
}
.logo-two img   {
width: 60%;
max-width: 100%;
    }
}

@media screen and (min-width: 838px)  {
.main-background > img{
    object-fit: cover;
}
.logo-two img   {
max-width: 100%;
height: auto;
    }
}