    * {
      font-family: Inter;
    }
    
    .recipe-columns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 20px
    }
    
    .recipe-section {
        margin-bottom: 30px;
    }

    
    .headers {
        font-size: 15px;
        background-color: #166940;
        box-sizing: border-box; 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }

    h1 {
        font-size: 24px;
        font-weight: 600;
        padding: 12px 17px; 
        color: #F6ECD4;
    }
    
    .ingredients-box {
        background: #F6ECD4;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        height: 90%;
    }
    
    .ingredients-table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .ingredients-table td {
        padding: 10px 0;
        border-bottom: 1px solid  #523E1D;
        vertical-align: top;
        color: #523E1D;
    }
    
    
    .ingredient-name {
        font-weight: 500;
        padding-right: 15px;
    }
    
    .ingredient-measure {
        text-align: right;
        color: #523E1D;
        white-space: nowrap;
    }
    
    .method-box {
        background:#F6ECD4;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        height: 90%;
    }
    
    .method-steps {
        counter-reset: step-counter;
        color: #523E1D;
    }
    
    .step {
        margin-bottom: 20px;
        padding-left: 30px;
        position: relative;
    }
    
    .step::before {
        content: counter(step-counter) ".";
        counter-increment: step-counter;
        position: absolute;
        left: 0;
        font-weight: bold;
        color: #624414;
    }
    
    .step p {
        margin: 0;
    }

    /* recommendations + reviews */
    body {
        margin: none;
        background: #fff;
      }
      
      .similar-recipes h2,
      .reviews h2 {
        text-align: center;
        font-size: 1.5em;
        margin: 4rem;
        color: #F6ECD4;
      }
      
      .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-bottom: 3rem;
      }
      
      .carousel .arrow {
        background: none;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
      }
      
      .recipe-images {
        display: flex;
        gap: 100px;
      }
      
      .recipe-images img {
        width: 190px;
        height: 190px;
        border-radius: 12px;
        object-fit: cover;
      }
      
      .reviews {
        text-align: center;
      }
      
      .rating-overall {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-size: 1.2em;
        margin-bottom: 1rem;
         color: #F6ECD4;
      }
      
      .review {
        display: flex;
        align-items: flex-start;
        background: #166940;
        border-radius: 12px;
        padding: 20px;
        margin: 25px auto;
        max-width: 400px;
        gap: 17px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      }
      
      .review img {
        border-radius: 50%;
        width: 40px;
        height: 40px;
      }
      
      .review-content {
        text-align: left;
        color: #F6ECD4;
      }
      
      .name-rating {
        display: flex;
        align-items: center;
        gap: 70px;
        font-size: 0.9em;
        margin-bottom: 13px;
        justify-content: space-between;
      }
      
      .stars {
        color: #F6ECD4;
        letter-spacing: 2px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        padding-right: 1rem;
      }
      
      .stars > a {
        font-weight: 400;
      }
     

      /* Aspargus risotto card */
      .recipe-card {
        display: flex;
        background-color: #F6ECD4;
        border-radius: 16px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        width: 100%;
        max-width: 950px;
        margin: auto;
        margin-bottom: 3rem;
        font-family: sans-serif;
        padding: 30px;
        gap: 32px;
      }
      
      .recipe-image {
        position: relative;
        flex: 0 0 420px;
        border-radius: 12px;
        overflow: hidden;
        
      }
      
      .recipe-image img {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 12px;
      }
      
      #reviews-container {
        margin-bottom: 8rem;
      }
      
      .recipe-content h2 {
        font-size: 26px;
        font-weight: 00;
        margin-bottom: 70px;
        color: #523E1D;
      }
      
      .recipe-meta {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px; 
      }
      
      .recipe-meta .time {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 6px;
      }
      
      .recipe-meta .stars {
        font-size: 18px;
        color: #523E1D;
      }
      
      .recipe-meta .stars a {
        font-size: 14px;
        margin-left: 8px;
        color: #523E1D;
        text-decoration: underline;
      }
    
      .recipe-content p {
        font-size: 16px;
        line-height: 1.7;
        margin-top: 30px;
        color: #523E1D;
      }

      .arrow {
         color: #F6ECD4;
      }
      
      .time {
      color: #523E1D;
      }
      

