span {
  color: #523e1d;
  font-family: Inter;
}

h2 {
  font-family: Inter;
  font-size: 2rem;
}

.filter-button {
  background: none;
  border: none;
  cursor: pointer;
}
.filter-button:hover {
  transform: rotate(90deg);
  transition: transform 0.3s ease-in-out; 
}

.filter-popup-header {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #523e1d;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #523e1d;
  transition: color 0.3s;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
}

.close-btn:hover {
  transform: scale(1.1);
}

.filter-popup-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-buttons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.all-recipes-btn {
  background: #166940;
  color: #f6ecd4;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.9em;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.05);
}

.all-recipes-btn:hover {
  background: #135c38;
  transform: scale(1.05);
}

.filter-buttons p4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
  color: #523e1d;
  font-family: Inter;
}

.filter-btn {
  background: #fbf4f44d;
  border: 1px solid #ddd2b8;
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.filter-btn:hover {
  background: #ddd2b8;
}

.filter-btn.active {
  background: #ddd2b8;
  color: #523e1d;
  border-color: #ddd2b8;
}

.filter-btn.active span:last-child {
  display: none;
}

.filter-btn.active::after {
  content: " ✓";
}

.selected-filters {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #eee;
}

.filter-popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  background-color: #f6ecd4;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  flex-direction: column;
}

.filter-popup.show {
  display: flex;
}
.search-container > .filter-button > i,
input,
::placeholder {
  color: #523e1d;
}

.search-container > input,
::placeholder {
  font-family: Inter;
}

/* Responsive styles for filtering functionality */
@media screen and (max-width: 375px) {
  .filter-buttons {
    flex-direction: column;
    gap: 5px;
    margin: 10px;
  }
  .filter-popup-body {
    flex: 1; 
    overflow-y: auto; 
  }

  .filter-btn {
    color: #523e1d;
    font-size: 0.8em;
    padding: 5px 10px;
    border-radius: 15px;
  }

  .filter-popup {
    width: 70%;
     height: 100vh; 
    padding: 0; 
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  }

  .filter-popup-header {
    font-size: 1.2rem;
    padding-bottom: 5px;
  }

  .close-btn {
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
  }

  .apply-filters-btn {
    font-size: 0.9em;
    padding: 8px;
  }

  .selected-filters {
    font-size: 0.8em;
    margin-top: 10px;
  }
}
