.footer {
  background-color: #F6ECD4;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
}

#strong {
  color: #166940;
}

.all-links {
  display: flex;
  gap: 4rem;
  color: #523E1D;
}

.newspaper > p {
  padding-bottom: 1rem;
  color: #523E1D;
  font-family: Inter;
}

.links {
  font-weight: bold;
  color: #523E1D;
}

.links > ul,
.links2 > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #523E1D;
}

.links2 > ul > li {
  color:#523E1D;
}

.footer-bottom {
  margin-top: 4rem;
  color: #523E1D;
}

.footer-bottom > ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

.follow-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Inter;
}

#underlined {
  text-decoration: underline;
}

#meallink {
  text-decoration: none;
  color: #523E1D;
  font-weight: bold;
}

.emailbox {
  display: flex;
  margin-top: rem;
  max-width: 300px;
}

.emailbox input[type="email"] {
  outline: none;
  flex: 1;
  padding: 0.5rem 1rem;
  border: 1px solid #523E1D;
  border-right: none;
  font-size: 1rem;
}

.emailbox button {
  padding: 0.5rem 1rem;
  background-color: white;
  border: 1px solid #523E1D;
  border-left: none;
  font-size: 1.2rem;
}

.emailbox button:hover {
  background-color: #f4f4f4;
}

.socialmedia {
  display: grid;
  grid-template-columns: repeat(3, 2.5rem);
  gap: 0.2rem;
  justify-content: center;
  font-size: larger;
}

.socialmedia i {
  width: 2rem;
  height: 2rem;
  color: #166940;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 0.5rem;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.socialmedia i:hover {
  transform: scale(1.2);
}

.socialmedia2 {
  display: grid;
  grid-template-columns: repeat(2, 2.5rem);
  gap: 0.2rem;
  justify-content: center;
  font-size: larger;
}

.socialmedia2 i {
  width: 2.5rem;
  height: 2.5rem;
  color: #166940;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.socialmedia2 i:hover {
  transform: scale(1.1);
}

/*Responsive*/

@media screen and (max-width:320px) {
  .newspaper > p {
    font-size: 15px;
  }
}


@media screen and (min-width: 320px) and (max-width: 890px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    /* width: 100%; */
    padding: 2rem 0 ;
  }

  .links > ul,
  .links2 > ul {
    align-items: center; 
  }

  .all-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
  }

  .follow-us {
    margin-top: 1rem;
  }

  .footer-bottom {
    margin-top: 1rem;
  }

  .footer-bottom > ul {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .newspaper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .socialmedia,
  .socialmedia2 {
    gap: 1rem;
  }
}
