.footer {
  background-color: #e6cd6a;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 4rem;
}

#strong {
  color: #166940;
}

.all-links{
    display: flex;
    gap: 2rem;
}

.newspaper > p {
    padding-bottom: 1rem;
}

.links {
    font-weight: bold;
}

.links > ul, .links2 > ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-bottom {
    margin-top: 4rem;
}

.footer-bottom > ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

#underlined {
    text-decoration: underline;
}

#meal-link{
    text-decoration: none;
    color: black;
}

.email-subscribe {
    display: flex;
    margin-top: rem;
    max-width: 300px;
  }
  
  .email-subscribe input[type="email"] {
    outline: none;
    flex: 1;
    padding: 0.5rem 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-right: none;
    font-size: 1rem;
  }
  
  .email-subscribe button {
    padding: 0.5rem 1rem;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    border-left: none;
    font-size: 1.2rem;
    
  }
  
  .email-subscribe button:hover {
    background-color: #f4f4f4;
  }