li,
.dropdownswitch {
  font-family: Inter;
  font-size: large;
  font-weight: bold;
  color: #523e1d;
}

.aboutus {
  text-decoration: none;
  font-family: Inter;
  font-size: large;
  font-weight: bold;
  color: #523e1d;
}

.aboutus:hover {
  text-decoration: underline;
  cursor: pointer;
}

#heart-icon {
  cursor: pointer;
}

#heart-icon:hover {
  color: #f7445f;
  transform: scale(1.2);
  transition: transform 0.1s ease;
}

a {
  font-family: Inter;
  font-weight: lighter;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: fit-content;
  background-color: #f6ecd4;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  font-size: 20px;
}

#mobileLogo {
  display: none;
}

#desktopLogo {
  display: inline;
}

.logo img {
  max-height: 120px;
  height: auto;
  cursor: pointer;
}

.logo-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: 30px;
}

.menu > ul {
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.icons > ul {
  display: flex;
  gap: 2.5rem;
  list-style: none;
}

.icons {
  right: 0;
  position: absolute;
  margin-right: 30px;
}

/* Drop Down Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownswitch {
  background-color: #f6ecd4;
  border: none;
  cursor: pointer;
}

.dropdownswitch:hover {
  text-decoration: underline;
}

.dropdownmenu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #f6ecd4;
  border: 1px solid #f6ecd4;
  min-width: 160px;
  z-index: 1;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-size: 15px;
}

.dropdownmenu a {
  display: block;
  padding: 10px;
  color: #523e1d;
  text-decoration: none;
  font-size: small;
}

.dropdownmenu a:last-child {
  font-weight: bold;
}

.dropdownmenu a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

/* Hamburger base style */
.hamburger {
  display: none;
  background: none;
  color: #523e1d;
  border: none;
  font-size: 28px;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  /* hamburger */

  .hamburger {
    display: block;
    font-size: 20px;
  }

  /* menu from hamburger */
  .menu > ul {
    display: none;
    flex-direction: column;
    gap: 1rem;
    background-color: #f6ecd4;
    background-color: #f6ecd4;
    position: absolute;
    top: 100%;
    left: 0;
    width: 70%; 
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 100;
    border: none;
  }

  .menu.open > ul {
    display: flex;
    align-items: flex-start;
    width: fit-content;
  }

  .menu > ul > li {
    font-size: 16px;
  }

  .menu.open > ul > li,
  .menu.open > ul > li > a {
    font-size: small;
  }

  /* dropdown */

  .dropdownmenu {
    position: absolute;
    top: -100%;
    left: 230%;
    background-color: #f6ecd4;
    border: none;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    font-size: 15px;
  }

  .dropdownswitch {
    font-size: small;
  }

  /* nav */

  nav {
    position: relative;
    margin: 0 30px;
  }

  /* logo */
  .logo-menu {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 0;
  }

  .logo img,
  .logo source {
    max-height: 80px;
    height: auto;
  }

  /* logo switch  */

  .logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  #mobileLogo {
    display: inline;
  }

  #desktopLogo {
    display: none;
  }

  /* icons */

  .icons {
    position: static;
    margin-left: auto;
    margin: 0;
  }

  .icons > ul {
    display: flex;
    gap: 1rem;
    font-size: smaller;
    list-style: none;
    font-size: 15px;
  }
}

@media screen and (min-width: 769px) and (max-width: 810px) {
  .menu > ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    align-items: center;
  }

  .icons > ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
  }
}
