
header {
    height: fit-content;
    background-color: rgb(255, 255, 255);
    
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    font-size:larger;
      
  } 
  
.logo img {
  max-height: 120px;
  height: auto;
  
}

  .logo-menu{
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-left: 2rem;
  }
  
  .menu > ul {
    display: flex;
    gap: 3rem;
    list-style: none;
  }
  
  
  .icons > ul {
    display: flex;
    gap: 2.5rem;
    list-style: none;
    
  
  }
  
  .icons {
    right: 0;
    position: absolute;
    margin-right: 2rem;
  }