.recipe-title, .recipe-description, .recipe-info  {
  font-family: Inter;
}


.recipe-card {
  background-color: #F6ECD4;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  will-change: transform;
  margin-bottom: 2rem;
}

.recipe-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
} 

.recipe-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  content-visibility: auto; 
}

.recipe-info {
  padding: 15px;
  color: #2e250e;
}

.recipe-title {
  margin: 0 0 10px;
  font-size: 1.2rem;
}

.recipe-description {
  font-size: 0.9rem;
  color: #2e250e;
  margin-bottom: 10px;
  overflow: hidden;
}

.recipe-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #888;
  flex-wrap: wrap;
  gap: 5px;
}

.popular-badge {
  background-color: #166940;
  color: #F6ECD4;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 0.7rem;
  display: inline-block;    
  margin-left: 5px;
}


.recipes-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin: 20px 30px;
  contain: content; 
}

.recipe-card.fade-out {
 opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@media screen and (min-width: 320px) and (max-width: 650px) {
  .recipes-container {
    grid-template-columns: repeat(1, 1fr);
  }
  
}

@media screen and (min-width: 651px) and (max-width: 768px) {
  .recipes-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1000px) {
  .recipes-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
}